*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1A0B2E;
    color: #fff;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.mr-width{
    width: 1200px;
}

.auto-x{
    margin: 0 auto;
}


.navbar{
    margin-top: 36px;
    margin-bottom:36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    font-size: 40px;
}


.navbar ul{
    text-decoration: none;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
}

.navbar ul li a{
    font-size: 1em;
    margin: 14px;
    color: #fff;
    text-decoration: none;
}

.logo-color{
    background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


button {
    padding: 13px 30px;
    border-radius: 50px;
    border: none;
    color:#fff;
    font-weight: 700;
}

.mrgradient{
   background: #F7E93F;
    background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
}

button:hover{
   cursor: pointer;
}

.banner{
    height: 760px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #311358;
    
}

.banner-content{
    width: 550px;
    height: 558px;
    margin-top: 100px;
        
}

.logo-large{
    margin: 0 auto;
    width:350px;
    height:350px;
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


.logo-large img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 100px;
}

.new {
    background-color: #00FF88;
    color: #1A0B2E;
    position: absolute;
    top: -8px;
    right: 29px;
      box-shadow: 5px 5px 15px rgba(8, 148, 50, 0.3); /* X-offset, Y-offset, blur, color */
}


.banner-h-p{
    padding-top: 50px;
    text-align: center;
}

.banner-h-p h1{
    margin-bottom: 10px;
    font-size: 60px;
}

.logo-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:10px;
}

button.spotify{
    background: #F7E93F;
    background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    display: flex;
    align-items: center;
    gap: 5px;
}

button.subcribe {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid #00FF88;
    display: flex;
    align-items: center;
    gap: 5px;
}

.podcast{
    text-align: center;
    margin-top: 50px;
}


.about {
   border-bottom: 1px solid #311358;
   
}


.about h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}


.about p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 100px;

}

.rating{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.rating h1{
    
    padding-bottom: 10px;
    color: #00FF88;
    font-size: 40px;
    font-weight: 700px;
   
}


.rating p{
    color: #c4c4c4;

}


.chose-heading{
    text-align: center;
    padding-bottom: 40px;
   }

.whychose {
    background-color: #230E3D;
    height: 983px;
    padding: 120px 120px;
}


.whychose p{
    font-size: 1rem;
    font-weight: 300;
}

.speciality{
    height: 783px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 30px; 
    grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "interviews interviews resources" ;
}

.grid-item {
  background-color: #35116566;;
  color: white;
  padding: 40px;
  border-radius: 40px;
}

.audio{
    grid-area: audio;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
}

.audio h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

.audio p {
    line-height: 24px;
    font-weight: 400;
}

.mobile{grid-area: mobile;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.mobile h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

.mobile p {
    line-height: 24px;
    font-weight: 400;
}


.global{grid-area: global;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.global h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

.global p {
    line-height: 24px;
    font-weight: 400;
}


.interviews{grid-area: interviews;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.interviews h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

.interviews p {
    line-height: 24px;
    font-weight: 400;
}


.resources{grid-area: resources;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.resources h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    
    
}

.resources p {
    line-height: 24px;
    font-weight: 400;
    
}
}

.episodes{
    height: 1278px;
    background-color: #00FF88;
    text-align: center;
}

.episodes {
    text-align: center;
    margin-top: 120px;
}

.vdo{
    height: 538px;
}

.vdo h3{
    font-size: 40px;
    font-weight: 700px;
}

.iframewrpaper{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    border-radius: 20px; 
    
}

.utube {
    border-radius: 20px;
    text-align: left;
    width: 380px;
    background-color: #250D44;
    padding-bottom: 30px;
    overflow: hidden   
}

.utube h4{
    font-size: 24px
    
}

.vdo-txt{
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
 
.vdo-txt h4 {
    padding-bottom: 12px;
    }

.vdo-txt p {
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    }

.mr-timer{
    padding-left: 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #00FF88;
}